.signup-main-comtainer {
  display: flex;
  justify-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  margin-top: 5px;
  height: 100vh;
}
.signup-input {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  background-color: lightskyblue;
  width: 50%;
  height: 50%;
  gap: 15px;
}
